annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
attrs==25.3.0
beautifulsoup4==4.10.0
certifi==2025.4.26
charset-normalizer==2.0.12
click==8.1.8
colorama==0.4.6
Deprecated==1.2.18
exceptiongroup==1.2.2
executing==2.2.0
fastapi==0.115.12
gitdb==4.0.12
GitPython==3.1.41
h11==0.16.0
icecream==2.1.4
idna==3.10
iniconfig==2.1.0
img2pdf==0.4.3
natsort==8.0.0
packaging==25.0
Pillow==8.4.0
pluggy==1.5.0
py==1.11.0
pydantic==2.11.3
pydantic_core==2.33.1
python-multipart==0.0.20
Pygments==2.19.1
pypdf==5.4.0
pytest==6.2.5
redis==4.0.2
requests==2.26.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
starlette==0.46.2
toml==0.10.2
tqdm==4.62.3
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==1.26.20
uvicorn==0.34.2
wrapt==1.17.2